[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = file:///home/seth/Ubuntu One/nelia.git/
	url = ssh://progenit@progenitor-softworks.com/~/sw-repo/nelia.git
	mirror = true
[gui]
	wmstate = normal
	geometry = 1614x881+65+24 430 285
