[Desktop Entry]
Name=Nelia DEV
Exec=/home/seth/.devel/app/nelia1/nelia1
Path=/home/seth/.devel/app/nelia1
Terminal=false
Icon=/home/seth/.devel/app/nelia1/img/nelia-250.png
Type=Application
Categories=.devel;

X-Ayatana-Desktop-Shortcuts=Gitk;GitGui;Push;Folder;Terminal;RunTerminal

[Gitk Shortcut Group]
Name=gitk
Exec=/home/seth/.devel/app/nelia1/tools/gitk.run
TargetEnvironment=Unity

[GitGui Shortcut Group]
Name=git gui
Exec=/home/seth/.devel/app/nelia1/tools/git-gui.run
TargetEnvironment=Unity

[Push Shortcut Group]
Name=git push (pgsw)
Exec=/usr/bin/gnome-terminal --working-directory=/home/seth/.devel/app/nelia1 -e "bash -c \"git push; read line;\""
TargetEnvironment=Unity

[Folder Shortcut Group]
Name=Folder
Exec=/usr/bin/nautilus /home/seth/.devel/app/nelia1
TargetEnvironment=Unity

[Terminal Shortcut Group]
Name=Termanl
Exec=/usr/bin/gnome-terminal --working-directory=/home/seth/.devel/app/nelia1 --maximize
TargetEnvironment=Unity

[RunTerminal Shortcut Group]
Name=Run in terminal
Exec=/home/seth/.devel/app/nelia1/tools/nelia-terminal.run
TargetEnvironment=Unity

