[Desktop Entry]
Name=Nelia DEV
Exec=/home/seth/.devel/app/nelia1/nelia1
Path=/home/seth/.devel/app/nelia1
Terminal=false
Icon=/home/seth/.devel/app/nelia1/img/nelia-250.png
Type=Application
Categories=.devel;

X-Ayatana-Desktop-Shortcuts=Gitk;GitGui;Push;Folder;Terminal;RunTerminal

[Folder Shortcut Group]
Name=Folder
Exec=/usr/bin/nautilus /home/seth/.devel/app/nelia1
TargetEnvironment=Unity

[RunTerminal Shortcut Group]
Name=Run in terminal
Exec=/home/seth/.devel/app/nelia1/tools/nelia-terminal.run
TargetEnvironment=Unity

