[Desktop Entry]
Name=Nelia1
Exec=/opt/nelia1/nelia1
Path=/opt/nelia1/
Terminal=false
Icon=/opt/nelia1/img/nelia1-icon-512x512.png
Type=Application
Categories=Development
