Source: nelia1
Section: devel
Priority: optional
Maintainer: Sebastian Bartos <seth.kriticos@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://progenitor-softworks.com/nelia1

Package: nelia1
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3 (>= 3.2.0), python3-pyside (>= 1.1.0)
Description: Simple Project Tracker
 Application to simply track personal and incubating projects.
 Good place to stuff in all the great ideas you want to catch
 up later while keeping focus on your active projects.
 This application features:
 - Sortable project list
 - Log (diary)
 - Self organising roadmap with minor and major milestones
 - Feature and issue issues tracking
